# Git files
.git
.gitignore

# Node modules
node_modules

# Next.js build output directory (will be handled by multi-stage build)
.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment files
.env*.local
.env

# OS-specific files
.DS_Store
Thumbs.db

# Docker files (not needed inside the image)
Dockerfile
.dockerignore

# Editor/IDE specific
.vscode
*.swp

# Other
README.md
components.json
